@font-face {
  font-display: auto;
  font-family: 'Knucklehead';
  font-style: normal;
  font-weight: 400;
  src: local('Knucklehead'), url('/fonts/Knucklehead/Knucklehead-Regular.otf') format('otf');
}

@font-face {
  font-display: auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), url('/fonts/Roboto/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-display: auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'), url('/fonts/Roboto/Roboto-Bold.woff2') format('woff2');
}
