@font-face {
  font-family: 'Knucklehead';
  font-style: normal;
  font-weight: 400;
  src: url('@fonts/Knucklehead/Knucklehead-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('@fonts/Roboto/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('@fonts/Roboto/Roboto-Bold.woff2') format('woff2');
}
