$color-primary: #F8B500;
$color-secondary: #D9D9D9;
$color-tertiary: #3C3C3B;
$color-background: #fff;

$color-text: #1e1e1e;
$color-text-inverted: #fff;

// Breakpoints
$sm: 450px;
$md: 640px;
$lg: 992px;
$xl: 1220px;
$xxl: 1400px;

// Fonts
$roboto: 'Roboto', sans-serif;