$color-primary: #f8b500;
$color-secondary: #d9d9d9;
$color-tertiary: #3c3c3b;
$color-background: #fff;

$color-text: #1e1e1e;
$color-text-secondary: #d9d9d9;
$color-text-inverted: #fff;

// Breakpoints
$sm: 450px;
$md: 640px;
$lg: 992px;
$xl: 1220px;
$xxl: 1400px;

// Fonts
$knucklehead: 'Knucklehead', sans-serif;
$roboto: 'Roboto', sans-serif;